{
  "name": "$packageName",
  "version": "0.0.0",
  "authors": [
    "$authorName"
  ],
  "license": "MIT",
  "private": true,
  "ignore": [
    "**/.*",
    "node_modules",
    "bower_components",
    "test",
    "tests"
  ],
  "dependencies": {
    "bourbon": "~4.1.0",
    "normalize-scss": "~3.0.2"
  }
}
